/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-overflow-scrolling: touch;
}
body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: #EAEAEA;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;

}
/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
.app {
}
}
button{
	margin-top: 10%;
}
h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	text-align: center;
}
.event {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #FFFFFF;
	font-size: 12px;
	margin: 0px 30px;
	padding: 2px 0px;
}
.event.listening {
	background-color: #333333;
	display: block;
}
.event.received {
	background-color: #4B946A;
	display: none;
}
 @keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.4;
}
to {
	opacity: 1.0;
}
}
 @-webkit-keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.4;
}
to {
	opacity: 1.0;
}
}
.blink {
	animation: fade 3000ms infinite;
	-webkit-animation: fade 3000ms infinite;
}
.nav-glyphish-example .ui-btn {
	padding-top: 40px !important;
}
.nav-glyphish-example .ui-btn:after {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
#chat:after {
	background: url("../img/09-chat2.png") 50% 50% no-repeat;
	background-size: 24px 22px;
}
#email:after {
	background: url("../img/18-envelope.png") 50% 50% no-repeat;
	background-size: 24px 16px;
}
#login:after {
	background: url("../img/30-key.png") 50% 50% no-repeat;
	background-size: 12px 26px;
}
#beer:after {
	background: url("../img/88-beermug.png") 50% 50% no-repeat;
	background-size: 22px 27px;
}
#coffee:after {
	background: url("../img/100-coffee.png") 50% 50% no-repeat;
	background-size: 20px 24px;
}
#skull:after {
	background: url("../img/21-skull.png") 50% 50% no-repeat;
	background-size: 22px 24px;
}


.ui-btn-active {
	background-size: 50px 50px;
}
.fila{
	border-bottom:#6EBED9 2px solid;
	margin-bottom:10px;
	padding-bottom:10px;
	min-height:4.2em;
}
.fila_mapa #casas{
	display:inline-block;
	float:left;
	width:30%;
	max-width:4em;
	margin-right:0.5em;
	border-right:#6EBED9 2px solid;
}
.fila div{
	display:inline-block;
	float:left;
	width:30%;
	max-width:4em;
	margin-right:0.5em;
	border-right:#6EBED9 2px solid;
}
.fila div img, .fila_mapa div img{
	width:3em;
	height:3em;
	display:inline-block;
	float:left;
	alignment-adjust:central;
	padding-left:0.5em;
}
.fila div h3{
	font-size:0.7em;
	font-weight:normal;
	text-align:center;
}
.fila h1{
	font-size:1em;
	font-weight:bold;
	text-align:left;
	margin:0px;
	padding:0px;
}
.fila_mapa h1{
	font-size:1em;
	font-weight:bold;
	text-align:left;
	margin:0px;
	padding:0px 0px 0.5em 0px;
}
.fila p{
	margin:0px;
	padding:0px;
	font-size:0.8em;

	overflow:hidden;
}
#map {
	position: relative;
	background: transparent no-repeat 1 1;
	width:200%; 
	height:200%;
	left:-50%;
	top:-50%;
}
#wrapper { 
  overflow-x: hidden;
  overflow-y: hidden;
}
#sidebar{
	margin-top: 10%;	
}
.fila_mapa{
	border-bottom:#6EBED9 2px solid;
	margin-bottom:10px;
	padding-bottom:10px;
}
#logo{
	width:4em; 
	margin:1em 1em 0em 1em;
	float:left;
}
#logo img{
	width:4em; 
	max-width:70px;
}
#pre_triangulo{
	float:left; 
	display:inline-block; 
	width:100%; 
	height:0.7em;
}
#triangulo {
  width: 0; 
  height: 0; 
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-bottom: 0.7em solid #000;
	float:right;
	margin-right:5%;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow: visible; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	margin-top: 25%;
    padding: 7px 7px 7px 20px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 20px;
}

.overlay {
  float: left; 
  background: rgba(255,255,255,0.55); 
  position: absolute;
  top:0px;
  left:70%;
  width:30%;
  color:#000;
  padding:10px;
}

.overlay-right {
  float: right; 
  background: rgba(255,255,255,0); 
  position: absolute;
  top:0px;
  right: :70%;
  width:30%;
  color:#000;
  padding:10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.btn-lg{
	opacity: 1;
}

#infoTabla {
	font-size: .6em;
}